.body-height {
    min-height: calc(100vh - 6rem);
}
.ql-editor {
    overflow-y: scroll;
    min-height: 150px;
    .ql-title &{
        min-height: 60px;
    }
    .ql-options &{
        min-height: 40px;
    }
}
span.mjx-chtml.MJXc-display {
    display: inline-block;
    margin: 0;
}
